@import './framework/bootstrap-grid';
@import './components/Setting',
		'./components/RoomActiveHead',
		'./components/Search';
@import './layout/RoomActive';
*,
*::after,
*::before
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.pr-0
{
	padding-right: 0;
}
.pl-0
{
	padding-left: 0;
}